h1{
    font-size: 36px;
    color:white ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 24px;
    color:white;
}
p{
    text-align: justify;
    width: 400px;
    padding: 10px;
}
#auto{
    width: 200px;
    margin: 10px;
}
input{
    width: 100px;
    margin-left: 50px;
    margin-right: 10px;
}
button{
    width: 120px;
    font-size: 20px;
    color:white;
    background-color:crimson;
    margin: 15px;
}

#fondoTitulos{
    background-color: blueviolet;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;


}
#fondoImagen{
    background-color: rgb(61, 88, 240);
    width: 500px;
    margin: 40px;
}

#perro{
    width: 250px;
    margin: 10px;
}

.bordes{
    border: solid 2px rgb(49, 136, 75);

}
.muchoPadding{
    padding: 50px;
}